/* Colors imported from theme file */
@import "themes/unique/colors/theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13.5pt;
}

window#waybar {
  color: @fg;
  border-radius: 7px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
}

#system {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @inactive;
}

#workspaces {
  background: @bg;
  border: 2px solid @inactive;
  border-radius: 7px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button {
  min-width: 14px;
  padding: 0 7px;
  color: @inactive;
  transition: color 0.3s ease;
}

#workspaces button.active {
  color: @lime;
}

#workspaces button:hover {
  color: @fg-darker;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
}

#window {
  background-color: transparent;
}

#tray {
  padding-right: 12px;
}

#network {
  padding-left: 12px;
  font-size: 15.5pt;
  padding-right: 24px;
  color: @cyan;
}

#custom-updater.updated {
  padding-left: 10px;
  font-size: 11.5pt;
  padding-right: 5px;
  color: @blue;
}

#custom-updater.pending {
  padding-left: 10px;
  font-size: 11.5pt;
  padding-right: 5px;
  color: #9d8888;
}

#bluetooth {
  font-size: 15.25pt;
  padding-right: 16px;
  color: @blue;
}

#pulseaudio {
  font-size: 15.5pt;
  padding-right: 22px;
  color: @yellow;
}

#clock {
  background: @bg;
  border: 2px solid @inactive;
  border-radius: 7px;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-power {
  background-color: @red;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 22px;
  border-radius: 7px;
  color: @bg;
}

#battery {
  padding-right: 12.5px;
  font-size: 15.5pt;
  color: @green;
}

/* Styling the main tooltip box under the custom updater */
tooltip {
  background: @bg; /* Match your background */
  border-radius: 8px;
  border: 0.5px solid @inactive;
}

/* Adjusting the text inside the tooltip under the custom updater */
tooltip label {
  font-size: 13px; /* Make text smaller */
  color: @fg;
  padding: 2px 6px; /* Shrink the box by reducing internal space */
  margin: 0px; /* Remove extra outer spacing */
}
