/* Default - Colors matching dots-hypr repo */
@define-color bg         #1c1c1c;
@define-color bg-dark    #121212;
@define-color fg         #eeeeee;
@define-color accent     #252525;
@define-color border     #454545;
@define-color selected   #252525;
@define-color urgent     #865054;
