/* Kanagawa - Japanese wave inspired */
@define-color bg #1f1f28;
@define-color bg-dark #16161d;
@define-color fg #dcd7ba;
@define-color border #54546d;
@define-color accent #2a2a37;
@define-color selected #2a2a37;
