/* Night Owl - Default */
@define-color bg #011627;
@define-color bg-dark #001122;
@define-color fg #d6deeb;
@define-color border #3b5068;
@define-color accent #1e3a50;
@define-color selected #1e3a50;
