/* Rose Pine Dawn - Light theme */
@define-color bg #faf4ed;
@define-color bg-dark #f2e9e1;
@define-color fg #575279;
@define-color border #cecacd;
@define-color accent #dfdad9;
@define-color selected #dfdad9;
