/* Rose Pine - Elegant muted colors */
@define-color bg #191724;
@define-color bg-dark #13111e;
@define-color fg #e0def4;
@define-color border #6e6a86;
@define-color accent #26233a;
@define-color selected #26233a;
