/* Tokyo Night - Clean dark theme */
@define-color bg #1a1b26;
@define-color bg-dark #16161e;
@define-color fg #a9b1d6;
@define-color border #414868;
@define-color accent #24283b;
@define-color selected #24283b;
