/* @import "catppuccin_macchiato.css"; */


@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font";
    min-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    border-radius: 20px;
}

window#waybar {
  background: transparent;
  margin: 5px 5px 5px 5px;
  color: @blue;
}

#custom-logo {
  padding: 10px 10px;
}

.modules-right {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  
  margin-top: 10px;
  background: alpha(@crust, 0.9);
}

.modules-center {
  margin-top: 10px;
  background: alpha(@crust, 0.9);
}

.modules-left {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  
  margin-top: 10px;
  background: transparent;
}

#battery {
  background: transparent;
}
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock,
#pulseaudio {
}

#temperature.critical,
#pulseaudio.muted {
  color: @red;
  padding-top: 0;
}


#workspaces button {
    color: @text;
}
#workspaces button.active {
    color: @blue;
}

#clock{
    color: @blue;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: alpha(@crust, 0.9);
    }
}
