@define-color bg         #011627;
@define-color bg-darker  #001122;
@define-color fg         #d6deeb;
@define-color fg-darker  #7fdbca;
@define-color inactive   #5f7e97;
@define-color red        #ef5350;
@define-color green      #22da6e;
@define-color blue       #82aaff;
@define-color cyan       #21c7a8;
@define-color yellow     #addb67;
@define-color lime       #22da6e;
