* {
    background-color: #f0edec;
    color: #2c363c;
}

button {
    background-color: #e8e4e3;
    border-color: #d8d5d2;
}

button:hover {
    background-color: #4f5e68;
    color: #f0edec;
}

button:focus {
    background-color: #4f5e68;
    color: #f0edec;
}
