/*
* 
* Different solution so when applied on new screen 
* values need to change a bit 
*
* padding = space within
* margin = space from element to element
*/


/* @import "gruvbox.css"; */
@define-color background #1e1e2e;
@define-color foreground #f0f1f5;
@define-color lighter #0f1417;
@define-color white-custom #c2c4c3;
@define-color gentoo #d17dc6;
@define-color datet #7d69d1;
@define-color timet #eda57b;
@define-color charging #a3c725;
@define-color discharging #e62315;
@define-color full #5dbd35;
@define-color red #e53935;
@define-color pink #d81b60;
@define-color purple #9F7DCF;
@define-color deep-purple #5e35b1;
@define-color indigo #3949ab;
@define-color blue #5895DC;
@define-color light-blue #039be5;
@define-color cyan #00acc1;
@define-color teal #00897b;
@define-color green #43a047;
@define-color light-green #7cb342;
@define-color lime #c0ca33;
@define-color yellow #E0A445;
@define-color amber #DFA445;
@define-color orange #F57C00;
@define-color deep-orange #f4511e;
@define-color brown #6d4c41;
@define-color gray #757575;
@define-color blue-gray #546e7a;
@define-color nix-color #92d4c9;

* {
  border: none;
  border-radius: 8;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
  min-height: 15px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}

#workspaces button {
  transition: none;
  color: #fbf1c7;
  /* default: color: #b5e8e0; */
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
  /* border-color: #e8a2af; */
  /* color: #e8a2af; */
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 12px;
  transition: none;
  color: #161320;
  background: #fb4934;
  /*default: background: #bd93f9;*/
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 12px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 12px;
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 12px;
  transition: none;
  color: #161320;
  background: #f8bd96;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 12px;
  transition: none;
  color: #161320;
  background: #8ec07c;
  /*default: background: #abe9b3; */
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #fe8019;
  /*default: color: #89dceb; */
  background: #161320;
}

#custom-notification {
  margin-top: 6px;
  /* strange values normal is 8px 8px*/
  /* margin-left: 0px; */ 
  /* margin-right: 0px; */
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 15px;
  transition: none;
  color: #161320;
  background: #b8bb26;
  /*default: background: #bd93f9;*/
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 1px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 15px;
  transition: none;
  color: #161320;
  background: #fb4934;
  /*default: background: #bd93f9;*/
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}

#bluetooth {
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #fabd2f;
  /*default: background: #bd93f9;*/
}

#taskbar {
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 8px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}
