/* Everblush - Soft pastel pink/coral */
@define-color bg         #181f21;
@define-color bg-darker  #141b1e;
@define-color fg         #dadada;
@define-color fg-darker  #8f9d9a;
@define-color inactive   #3b4244;
@define-color red        #e57474;
@define-color green      #8ccf7e;
@define-color blue       #67b0e8;
@define-color cyan       #6cbfbf;
@define-color yellow     #e5c76b;
@define-color lime       #8ccf7e;
