/* Everforest - Soft green nature tones */
@define-color bg         #2d353b;
@define-color bg-darker  #232a2e;
@define-color fg         #d3c6aa;
@define-color fg-darker  #9da9a0;
@define-color inactive   #5c6a72;
@define-color red        #e67e80;
@define-color green      #a7c080;
@define-color blue       #7fbbb3;
@define-color cyan       #83c092;
@define-color yellow     #dbbc7f;
@define-color lime       #a7c080;
