/* Nord - Cool arctic blue tones */
@define-color bg         #2e3440;
@define-color bg-darker  #242933;
@define-color fg         #eceff4;
@define-color fg-darker  #d8dee9;
@define-color inactive   #4c566a;
@define-color red        #bf616a;
@define-color green      #a3be8c;
@define-color blue       #5e81ac;
@define-color cyan       #88c0d0;
@define-color yellow     #ebcb8b;
@define-color lime       #a3be8c;
