/* Rose Pine - Elegant theme with soft rose and purple accents */
@define-color bg         #191724;
@define-color bg-darker  #13111e;
@define-color fg         #e0def4;
@define-color fg-darker  #908caa;
@define-color inactive   #6e6a86;
@define-color red        #eb6f92;
@define-color green      #9ccfd8;
@define-color blue       #31748f;
@define-color cyan       #9ccfd8;
@define-color yellow     #f6c177;
@define-color lime       #9ccfd8;
