/* Rose Pine Dawn - Light theme */
@define-color bg         #faf4ed;
@define-color bg-darker  #f2e9e1;
@define-color fg         #575279;
@define-color fg-darker  #9893a5;
@define-color inactive   #cecacd;
@define-color red        #b4637a;
@define-color green      #286983;
@define-color blue       #56949f;
@define-color cyan       #56949f;
@define-color yellow     #ea9d34;
@define-color lime       #286983;
